<table class="responsive-table striped">
    <thead>
      <tr>
        <th class="center-align">Tipo</th>
        <th class="center-align">Nombre</th>
        <th class="center-align">Descripcion</th>
        <th class="center-align">Plazas</th>
        <th class="center-align" style="width:60px">Ver</th>      
      </tr>
    </thead>
  <!-- TODO: Remover fila -->
    <tbody>
      <tr>
        <td>Soy test</td>
        <td>nombre</td>
        <td>desc</td>
        <td>5</td>
        <td><a (click)="goToConvocatory(1)" class="waves-effect waves-light btn green"><i class="small material-icons center">visibility</i></a></td>
      </tr>
      <tr *ngFor="let item of convocatories;let i=index">
  
        <td>{{item.type.name}}</td>
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>{{item.numberBeneficiaries}}</td>
        <td><a (click)="goToConvocatory(item.id)" class="waves-effect waves-light btn green"><i class="small material-icons center">visibility</i></a></td>
      </tr>
    </tbody>
  </table> 