<div class="space-padding-top">
  <h5 class="text-xs-center" style="margin: 0px;">Detalle</h5>
  <div class="col s12">
    <div class="row">
      <div class="input-field inline col s12">
        <strong>Nombre:</strong>
        <span>{{convocatory.name}}</span>
      </div>
      <div class="input-field inline col s12">
        <strong>Plazas:</strong>
        <span>{{convocatory.numberBeneficiaries}}</span>
      </div>
      <div class="input-field inline col s12">
        <strong>Tipo convocatoria:</strong>
        <span>{{convocatory.convocatoryType.name}}</span>
      </div>
      <!-- <div class="input-field inline col s12">
        <strong>Fecha de resultados:</strong>
        <span>{{getFormatDate()}}</span>        
      </div> -->
      <div class="input-field inline col s12">
        <strong>Descripción:</strong>
        <span>{{convocatory.description}}</span>
      </div>
    </div>
  </div>
</div>