<div>
    Informacion
    <div>
    <div class="col s12">
      <div class="row">
        <div class="col s3">                    
          <label for="icon_prefix">Nombre</label>
          <!--<span>{{convocatory.name}}</span>-->
        </div>        
      </div>
      <div class="row">
          <div class="col s3">                    
            <label for="icon_prefix">Plazas</label>
            <!--<span>{{convocatory.place}}</span>-->
          </div>        
        </div>
    </div>
  


<!--</div>
</div>
id: number;
name: string;
type: ConvocatoryType;
place: number;
description: string;-->