<div>
    <h4 class="text-xs-center">Informacion</h4>
    <div>
    <div class="col s4">
      <div class="row">
        <div class="col s3">                    
          <label for="icon_prefix">Nombre</label>
          <span>{{name}}</span>
        </div>        
      </div>
      <div class="row">
          <div class="col s3">                    
            <label for="icon_prefix">Plazas</label>
            <span>{{numberBeneficiaries}}</span>
          </div>        
      </div>
      <div class="row">
          <div class="col s3">                    
            <label for="icon_prefix">Tipo convocatoria</label>
            <span>{{type}}</span>
          </div>        
      </div>
      <div class="row">
          <div class="col s3">                    
            <label for="icon_prefix">Descripcion</label>
            <span>{{description}}</span>
          </div>        
      </div>
      <div class="row">
          <div class="col s3">                    
            <label for="icon_prefix">Fecha de resultados</label>
            <span>{{resultDate}}</span>
          </div>        
      </div>
    </div>
  


<!--</div>
</div>
id: number;
name: string;
type: ConvocatoryType;
numberBeneficiaries: number;
description: string;-->