<div >
  <nav class="nav-extended" style="background-color: #01579b">
    <div class="nav-wrapper">
      <h4 class="brand-logo center" style="margin: 15px;"> Crear Convocatoria </h4>
    </div>
  </nav>
  <div class="row" style="margin-bottom: 0px;">
    <form id="form_create_convocatory" class="modal-content" style="margin-top: 10px;padding-bottom: 0px;">
      <div class="row" *ngIf="summary !== ''">
        <div class="input-field col s12">          
          <p [innerHTML]="summary" style="color: red;"></p>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <input *ngIf="name_tooltip !== undefined" [(ngModel)]="convocatory.name" name="name" id="name" type="text" class="validate invalid" materialize="tooltip" [materializeParams]="name_tooltip" data-position="top" data-delay="10" [attr.data-tooltip]="name_tooltip['error']" />
          <input *ngIf="name_tooltip === undefined" [(ngModel)]="convocatory.name" name="name" id="name" type="text" class="validate" />
          <label>Nombre</label>
        </div>
        <div class="input-field col s12 m6">        
          <select [(ngModel)]="selectedType" name="convocatoryType" materialize="material_select" [materializeSelectOptions]="convocatoryTypes" [disabled]="null">        
            <option *ngFor="let option of convocatoryTypes" [value]="option.id">{{option.name}}</option>
          </select>
          <label>Tipo</label>  
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <input *ngIf="numberBeneficiaries_tooltip !== undefined" [(ngModel)]="convocatory.numberBeneficiaries" name="numberBeneficiaries" id="numberBeneficiaries" type="text" class="validate invalid" materialize="tooltip" [materializeParams]="numberBeneficiaries_tooltip" data-position="top" data-delay="10" [attr.data-tooltip]="numberBeneficiaries_tooltip['error']"/>
          <input *ngIf="numberBeneficiaries_tooltip === undefined" [(ngModel)]="convocatory.numberBeneficiaries" name="numberBeneficiaries" id="numberBeneficiaries" type="text" class="validate"/>
          <label>Plaza</label>
        </div>
        <!--<div class="input-field col s12 m6">            
          <ng2-datepicker [(ngModel)]="convocatory.resultDate" ></ng2-datepicker>
          <label>Fecha resultados</label>
        </div>-->
        <div class="col s12 m6">
            <!--<input *ngIf="resultDate_tooltip !== undefined" [(ngModel)]="convocatory.resultDate" name="resultDate" id="resultDate" type="date" class="validate invalid" materialize="tooltip" [materializeParams]="resultDate_tooltip" data-position="top" data-delay="10" [attr.data-tooltip]="resultDate_tooltip['error']" />
            <input *ngIf="resultDate_tooltip === undefined" [(ngModel)]="convocatory.resultDate" name="resultDate" id="resultDate" type="date" class="validate" materialize="pickadate" [materializeParams]="[{format:'dd/mm/yyyy'}]" />-->
            <label>Fecha resultados</label>  
            <i class="fa fa-calendar-minus-o prefix"></i>          
            <ng-datepicker *ngIf="resultDate_tooltip !== undefined" class="date_picker_icono validate invalid" [(ngModel)]="convocatory.resultDate" name="resultDate" id="resultDate"  materialize="tooltip" [materializeParams]="resultDate_tooltip" data-position="top" data-delay="4" [attr.data-tooltip]="resultDate_tooltip['error']" [options]="options"></ng-datepicker>
            <ng-datepicker *ngIf="resultDate_tooltip === undefined" class="date_picker_icono validate" [(ngModel)]="convocatory.resultDate" name="resultDate" id="resultDate"  [options]="options"></ng-datepicker>
          </div>
        <!--<div class="input-field col s12 m6">
          <input *ngIf="resultDate_tooltip !== undefined" [(ngModel)]="convocatory.resultDate" name="resultDate" id="resultDate" type="text" class="datepicker validate invalid" materialize="tooltip" [materializeParams]="resultDate_tooltip" data-position="top" data-delay="10" [attr.data-tooltip]="resultDate_tooltip['error']" />
          <input *ngIf="resultDate_tooltip === undefined" [(ngModel)]="convocatory.resultDate" name="resultDate" id="resultDate" type="text" class="validate" materialize="pickadate" [materializeParams]="[{format:'dd/mm/yyyy'}]" />
          <label>Fecha resultados</label>
        </div>-->
      </div> 
      <div class="row">
        <div class="input-field col s12">
          <textarea *ngIf="description_tooltip !== undefined" [(ngModel)]="convocatory.description" name="description" id="description"  class="materialize-textarea  validate invalid" materialize="tooltip" [materializeParams]="description_tooltip" data-position="top" data-delay="10" [attr.data-tooltip]="description_tooltip['error']"></textarea>
          <textarea *ngIf="description_tooltip === undefined" [(ngModel)]="convocatory.description" name="description" id="description"  class="materialize-textarea validate"></textarea>
          <label>Descripcion</label>
        </div>
      </div> 

      <div class="modal-footer">
        <a class="waves-effect btn-flat" id="convocatoryCancel" type="button" value="Cancelar" (click)="cancelRegisterConvocatory(false)" >Cancelar</a>
        <a class="blue waves-effect waves-blue btn-flat" id="convocatory" type="button" value="enviar" (click)="registerConvocatory()" style="color:white;">Enviar</a>
      </div>
    </form>
    
  </div>
</div>
