<div>
    <h4 class="text-xs-center">Detalle</h4>
    <div>
      <div class="col s12">
        <div class="row">
          <div class="input-field inline col s12">
            <strong>Nombre:</strong>
            <span>{{phase.name}}</span>
          </div>
          <div class="input-field inline col s12">
            <strong>Fecha Inicio:</strong>
            <span>{{phase.startDate}}</span>
          </div>
          <div class="input-field inline col s12">
            <strong>Fecha fin:</strong>
            <span>{{phase.finishDate}}</span>
          </div>
          <div class="input-field inline col s12">
            <strong>Fecha Inicio aprobación postulación:</strong>
            <span>{{phase.startApprovalPostulation}}</span>
          </div>
          <div class="input-field inline col s12">
            <strong>Descripción:</strong>
            <span>{{phase.description }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>  