<div class="space-margin-top">
  <div class="row no-space-margin-bottom">
    <div class="col m8 s12 offset-m2 z-depth-4" style="padding:0px;">
      <nav class="nav-extended" style="background-color: #01579b">
        <div class="nav-wrapper">
          <div class="left-align col m2 s4" style="padding-left: 20px;">
            <a class="waves-effect center-align waves-light btn light-green" href="javascript:void();" (click)="goBack()">
                          <i class="material-icons left" style="line-height: 40px;">navigate_before</i>Volver
                  </a>
          </div>
          <div class="col m6 s8">
            <h3 class="brand-logo center"> Fase </h3>
          </div>
        </div>
      </nav>

      <div class="row no-space-margin-bottom">
        <div class="white-background">
          <app-detailed-basic-phase [phase]="phase"></app-detailed-basic-phase>
          <div class="col s12">
            <div class="row">
              <div class="space-padding-top">
                <a class="waves-effect center-align waves-light btn light-blue modal-trigger" href="#modal_update_Phase" (click)="openModalUpdatePhase()">
                          <i class="material-icons left" >mode_edit</i>Editar
                      </a>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
      <div class="row space-padding-top no-space-margin-bottom white-background">
        <h5 class="text-xs-center" style="margin: 0px;"> Campos </h5>
        <div class="right-align" style="padding-right: 20px;">
          <a class="waves-effect center-align waves-light btn light-green modal-trigger" href="#modal_create_phase" (click)="openModalCreatePhase()">
                <i class="material-icons left">add</i>Crear
              </a>
        </div>
        <!-- <div class="col s8">
            <h4 class="text-xs-center"> Fases </h4>
          </div>
          <div class="col s2">
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <a class="waves-effect waves-light btn light-green modal-trigger" href="#modal_create_phase" (click)="openModalCreatePhase()">
                      <i class="material-icons left">add</i>Crear</a>
            </ul>
          </div> -->
        <div class="row">
          <div class="col s10">
            listado de campos......
          </div>
        </div>
        <div class="row">
          <div class="col s10">
            los por aprovar
            
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

<div id="modal_create_fields" class="modal modal-height" materialize="modal" [materializeParams]="[{dismissible: false}]"
  [materializeActions]="modalActionsCreateFields">
  <div class="modal-content">
    <div class="row">
      <!--<app-create-phase (cancelation)="closeModalCreateFields()"></app-create-phase>-->
    </div>
  </div>
</div>

<div id="modal_update_phase" class="modal modal-height" materialize="modal" [materializeParams]="[{dismissible: false}]"
  [materializeActions]="modalActionsUpdatePhase">
  <div class="modal-content">
    <div class="row">
      <app-edit-phase [phase]="phase" (cancelation)="closeModalUpdatePhase()"></app-edit-phase>
    </div>
  </div>
</div>