
<main>
  <nav>
    <div class="nav-wrapper light-blue darken-4">
      <a href="#" class="brand-logo center">Sistema Central de Becas</a>
      <!-- <a href="#" materialize="sideNav" data-activates="slide-out" [materializeParams]="[{edge:'left',closeOnClick:true}]" class="button-collapse"><i class="material-icons">menu</i></a> -->
      <span data-activates="mobile-demo" class="button-collapse" (click)="showSidenav()"><i class="material-icons">menu</i></span>
      <ul class="left hide-on-med-and-down">
        <li><a>ICETEX</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a>MIN EDU</a></li>
        <li><a>LOGO</a></li>
        <app-register></app-register>
            <!--<li  *ngIf="user == null" class="light-blue"><a class="modal-trigger" href="#modal_crear_usuario">Registro</a></li>-->
          <!-- <li class="light-blue lighten-1"><a class="modal-trigger" href="#modal_login">Iniciar Sesion</a></li> -->            
          <li  *ngIf="user == null" class="light-blue lighten-1">
            <a routerLink="/login" routerLinkActive="active">Login</a>
          </li>
            <li *ngIf="user !== undefined && user !== null && user.role == 'Solicitant'">
            <a routerLink="/convocatories" routerLinkActive="active">Ver convocatorias</a>
              </li>  
            <li *ngIf="user !== undefined && user !== null && user.role == 'Administrator'">
          <a routerLink="/users" routerLinkActive="active">Ver usuarios</a>
            </li>

            <li *ngIf="user !== undefined && user !== null">
              <a (click)="logout();">Logout</a>                   
            </li>
          <li>
        </li>
      </ul>
      <ul class="side-nav" id="sidenav" materialize="sideNav" [materializeParams]="sidenavParams" [materializeActions]="sidenavActions" data-activates="sidenav">
        <li><a class="modal-trigger" href="#modal_crear_usuario">Registro</a></li>
        <li><a>Iniciar Sesion</a></li>
      </ul>
    </div>
    
  </nav>
  <!-- <div id="sidenav" class="side-nav"></div> -->

    <!-- <div (click)="showSidenav()" id="welcome">Another sidenav trigger</div>
    <div id="sidenav" class="side-nav"></div>
    
    <a materialize="sideNav" [materializeParams]="sidenavParams" [materializeActions]="sidenavActions" data-activates="sidenav" class="btn-floating btn-flat waves-effect waves-light transparent" (click)="hideWelcome = true">
        <i class="material-icons">menu</i>
    </a> -->
  <div>
    <router-outlet></router-outlet>
  </div>
</main>