.modal-content{
    padding: 0px;
}

.div_tabs{
    padding-left: 0px;
    padding-right: 0px;
}

input{
    color: black;
}

.input-field > label{
    color: gray;
}

.tabs{
    background-color:  #f3f9ff;
}

h2{
    color: black;
}
.row, input{
    margin-bottom: 0px !important;
}

#div_tab{
    background-color: white;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 15px; 
    margin-bottom: 15px; 
}