<table class="responsive-table striped">
  <thead>
    <tr>
      <th class="center-align">Tipo</th>
      <th class="center-align">Nombre</th>
      <th class="center-align">Descripcion</th>      
      <th class="center-align" style="width:60px">Ver</th>      
    </tr>
  </thead>
  <tbody> 
    <tr *ngFor="let item of convocatories">
      <td>{{item.convocatoryType.name}}</td>
      <td>{{item.name}}</td>
      <td>{{item.description}}</td>
      <td><a (click)="goToConvocatory(item.id)" class="waves-effect waves-light btn green"><i class="small material-icons center">visibility</i></a></td>
    </tr>
  </tbody>
</table> 
